@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #ffffff;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #0f66b6;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar.open .logo-details .logo_name {
  margin-top: 10px;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #0f66b6;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
  padding-left: 0px;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #ffffff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #ffffff;
}
.sidebar li a:hover {
  background: #0f66b6;
}
.sidebar li a .links_name {
  color: #0f66b6;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #ffffff;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #ffffff;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #0f66b6;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #ffffff;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar .profile #log_out:hover {
  background-color: #0f66b6;
  color: #fff;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.sidebar.open .profile #log_out:hover {
  background-color: #0f66b6;
  color: #fff;
}
.login {
  padding-top: 32px;
  position: relative;
  height: auto;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  background-color: #4f9ee8;
  font-family: "Poppins";
  text-align: center;
}
.login .d-flex {
  flex-direction: column;
  padding-bottom: 120px;
}
.login #title {
  width: 300px;
}
.login #title h1 {
  margin-top: 50px;
  margin: 0 5px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}
.login #title p {
  margin-top: 39px;
}
.login #title img {
  width: 200px;
}
.login #form {
  width: 300px;
  background-color: #ffffff;
  margin: 0 10px;
}
.login #form .title {
  margin-top: 50px;
  color: #0f66b6;
  font-size: 25px;
  font-weight: 600;
}
.login #form .subtitle {
  color: #0f66b6;
  font-size: 12px;
  margin-bottom: 25px;
}
.login #form input {
  color: #0f66b6;
  width: 75%;
  height: 34px;
  background-color: #9cdeff;
  border-radius: 20px;
  border: none;
  padding: 0 20px;
  font-size: 12px;
}
::placeholder {
  color: #ffffff;
}
input:focus {
  outline-color: #4f9ee8;
}
.login #form button {
  color: #ffffff;
  width: 75%;
  height: 30px;
  background-color: #0f66b6;
  border-radius: 0;
  border: none;
  font-size: 12px;
  margin: 5px 0 15px 0;
}
.login #form .keterangan {
  font-size: 12px;
  text-align: left;
  margin-left: 12.5%;
  margin-right: 12.5%;
  margin-bottom: 50px;
}
.login #form .keterangan a {
  font-size: 12px;
  color: #1c00ca;
  text-align: left;
  text-decoration: none;
}
.login #form .keterangan a:hover {
  transition: all 0.4s ease;
  color: #9cdeff;
}
footer {
  background-color: #0f66b6;
  margin-left: 78px;
}
footer img {
  width: 150px;
}
footer .d-flex {
  flex-direction: column;
}
footer .col {
  align-self: center;
  justify-content: flex-end;
  margin: 15px 0;
}
footer .col span {
  font-size: 25px;
  font-family: "Poppins";
  color: #ffffff;
  font-weight: 300;
}
footer .col a {
  margin: 0 35px;
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  align-self: center;
}

@media (min-width: 430px) {
  .sidebar li .tooltip {
    display: none;
  }
  .login .d-flex {
    flex-direction: row;
  }
}

@media (min-width: 760px) {
  .login #title img {
    width: 300px;
  }
  .login #form {
    width: 40%;
    margin-right: 25px;
  }
  .login #title {
    width: 50%;
  }
  .login #title h1 {
    margin-top: 50px;
    font-size: 36px;
  }
  .login #form .title {
    margin-top: 60px;
    font-size: 32px;
    font-weight: 600;
  }
  .login #form .subtitle {
    font-size: 15px;
    margin-bottom: 25px;
  }
  .login #form input {
    width: 75%;
    height: 34px;
    padding: 0 20px;
    margin: 5px 0;
  }
  .login #form button {
    font-size: 15px;
  }
  .login #form .keterangan {
    font-size: 15px;
  }
  .login #form .keterangan a {
    font-size: 15px;
  }
}

@media (min-width: 992px) {
  footer .d-flex {
    flex-direction: row;
  }
  .login #title img {
    width: 400px;
  }
}
